.vscode/**
.gitignore
.vscodeignore
esbuild.js
scripts/**
tsconfig*.json
src/**
dist-tsc/**
dist-test/**
**/*.map
**/*.ts
node_modules/.bin/**
node_modules/**/test/**
node_modules/**/*.md
dist-integration/**
test/**
CLAUDE.md
eslint.config.js
.github/**
*.vsix
